<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <servlet-name>CrossCheck</servlet-name>
    <servlet-class>app.CrossCheckServlet</servlet-class>
  </servlet>  
  <servlet-mapping>
    <servlet-name>CrossCheck</servlet-name>
    <url-pattern>/crosscheck/*</url-pattern>    
  </servlet-mapping>

</web-app>
